<div class="films-detailed-list"><ul>
	<li *ngFor="let film of films">
		<div class="film-info">
			<div class="film-signature">
				<div class="id">{{film.id}}</div>{{film.name}}
			</div>
			<div class="film-description">
				<p>Rating: {{film.rating}}</p>
				<p>Year: {{film.year}}</p>
				<p>Director: {{film.director}}</p>
				<p>Cast:</p>
				<ul class="film-actors-list">
					<li *ngFor="let actor of film.actors; let counter = index">
						{{counter + 1}}. {{actor.name}}
					</li>
				</ul>
			</div>
		</div>
		<div class="film-cover">
			<img [src]="getFilmCover(film)" alt="Cover">
		</div>
	</li>
</ul></div>