/* Films detailed list */
.films-detailed-list {
	list-style-type: none;
	padding: 0;
	width: 36em;
}

/* Film info */
.film-info {
	display: inline-block;
}

.films-detailed-list li {
	overflow: auto;
	position: relative;
	left: 0;
	background-color: #EEE;
	margin: .5em;
	border-radius: 4px;
}
.films-detailed-list .id {
	display: inline-block;
	font-size: small;
	color: white;
	padding: 0.8em 0.7em 0 0.7em;
	background-color: #607D8B;
	line-height: 1em;
	position: relative;
	height: 1.8em;
	margin-right: .8em;
	border-radius: 4px 0 0 0;
}

/* Film cover */
.film-cover {
	position: relative;
	float: right;
}

