.films-list {
	list-style-type: none;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.films-list li {
	cursor: pointer;
	background-color: #EEE;
}
.films-list li:hover {
	color: #607D8B;
	background-color: #DDD;
}